@charset 'utf-8';

/* タブレット */
@media(max-width:600px) {

    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        /* ← 必要ならここに限定 */
    }

    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        /* 他要素より前面に */
    }

    section {
        scroll-margin-top:150px; /* ヘッダーの高さ分に調整 */
      }

    /* ヘッダー分の余白を main に確保する */
    main {
        padding-top: 100px;
        /* ヘッダーの高さに合わせて調整 */
    }

    /* main */
    /* 宣材写真 */
    #me-photo {
        margin: 60px 0;
        padding: 15px;
        gap: 40px;
    }

    #me-photo img {
        width: 235px;
        height: 170px;
    }

    /* works */
    #works {
        padding: 15px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Contact */
    #contact {
        padding: 15px;
    }

    #contact dd input,
    #contact dd textarea {
        width: 500px;
    }


}

/* スマホ */
@media(max-width:400px) {

    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        /* ← 必要ならここに限定 */
    }

    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        /* 他要素より前面に */
    }

    section {
        scroll-margin-top:150px; /* ヘッダーの高さ分に調整 */
      }

    /* main */
    /* 宣材写真 */
    #me-photo {
        margin: 50px 0;
        padding: 15px;
        gap: 10px;
    }

    #me-photo img {
        width: 140px;
        height: 100px;
        margin: 30px 0;
    }

    #me-photo h2 {
        font-size: 24px;
    }

    #me-photo li {
        font-size: 12px;
    }

    /* ナビ */
    .nav-list a {
        font-size: 13px;
    }

    /* works */
    #works {
        margin: 50px 0;
        padding: 15px;
    }

    #works h1 {
        font-size: 19px;
        margin: 0 0 20px;
    }

    .card {
        max-width: 100%;
        height: auto;
        margin: 0;
    }

    .card img {
        width: 130px;
        height: 60px;
        /* height: 120px; */
    }

    .card-body {
        padding: 0;
    }

    .card-body h4 {
        font-size: 12px
    }

    .card-body p {
        font-size: 8px;
        margin: 0;
    }

    .grid {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        overflow: visible;
        /* padding: 10px 0; */
        /* 上下に余白を確保 */
    }

    /* Contact */
    #contact {
        margin: 50px 0;
        padding: 15px;
    }

    #contact dd input,
    #contact dd textarea {
        width: 340px;
    }

    #contact h1 {
        margin: 0;
        font-size: 19px;
    }

    #contact label {
        font-size: 14px;
    }
}